<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283027460289-u0s7024n6hsv9k0a0anfiqjrn7v74p6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283027460289-u0s7024n6hsv9k0a0anfiqjrn7v74p6e</string>
	<key>API_KEY</key>
	<string>AIzaSyCqaCZIPs8k8GbJc4ZbTA0Sv2dP3BCTpDU</string>
	<key>GCM_SENDER_ID</key>
	<string>283027460289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liranfain.Sakaki</string>
	<key>PROJECT_ID</key>
	<string>sakaki-a6010</string>
	<key>STORAGE_BUCKET</key>
	<string>sakaki-a6010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283027460289:ios:094ddd12ddada90c75c440</string>
</dict>
</plist>